# i don't want save files in commits.
*.sav
*.json
temp.tmp
incremancer-*.*
# ignore dedicated save folder
savs/*
# term.py was used as a way to modify at least the terminal-like part of saveedit.py with online environments. lzstring not supported on those. will not elaborate.
term.py
# ignore things that i dont think matter
.venv/*
.vscode/*
# ignore names with test in it
*test*.*
# ignore copies of files
* copy*.*
# until i can figure out what changes with chalice's saves,
chalice/*